target/
/libs/
/log/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea/workspace.xml
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/codeStyles/codeStyleConfig.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/uiDesigner.xml
/data/geodata/11_23.l2j
/data/geodata/11_24.l2j
/data/geodata/11_25.l2j
/data/geodata/11_26.l2j
/data/geodata/12_23.l2j
/data/geodata/12_24.l2j
/data/geodata/12_25.l2j
/data/geodata/12_26.l2j
/data/geodata/13_21.l2j
/data/geodata/13_22.l2j
/data/geodata/13_23.l2j
/data/geodata/13_24.l2j
/data/geodata/13_25.l2j
/data/geodata/13_26.l2j
/data/geodata/14_21.l2j
/data/geodata/14_22.l2j
/data/geodata/14_23.l2j
/data/geodata/14_24.l2j
/data/geodata/14_25.l2j
/data/geodata/14_26.l2j
/data/geodata/15_10.l2j
/data/geodata/15_11.l2j
/data/geodata/15_12.l2j
/data/geodata/15_18.l2j
/data/geodata/15_19.l2j
/data/geodata/15_20.l2j
/data/geodata/15_21.l2j
/data/geodata/15_22.l2j
/data/geodata/15_23.l2j
/data/geodata/15_24.l2j
/data/geodata/15_25.l2j
/data/geodata/15_26.l2j
/data/geodata/16_13.l2j
/data/geodata/16_14.l2j
/data/geodata/16_15.l2j
/data/geodata/16_16.l2j
/data/geodata/16_17.l2j
/data/geodata/16_18.l2j
/data/geodata/16_26.l2j
/data/geodata/17_13.l2j
/data/geodata/17_14.l2j
/data/geodata/17_15.l2j
/data/geodata/17_16.l2j
/data/geodata/17_17.l2j
/data/geodata/17_26.l2j
/data/geodata/18_15.l2j
/data/geodata/18_16.l2j
/data/geodata/18_26.l2j
/data/geodata/19_12.l2j
/data/geodata/19_26.l2j
/data/geodata/20_12.l2j
/data/geodata/20_26.l2j
/data/geodata/21_10.l2j
/data/geodata/21_11.l2j
/data/geodata/21_12.l2j
/data/geodata/22_10.l2j
/data/geodata/22_11.l2j
/data/geodata/22_12.l2j
/data/geodata/22_26.l2j
/data/geodata/23_26.l2j
/data/geodata/24_26.l2j
/data/geodata/25_22.l2j
/data/geodata/25_23.l2j
/data/geodata/25_24.l2j
/data/geodata/geo_index.txt
